{%extends 'base.html'%}
{%load static%}

{%block title%}Projects{%endblock title%}

{%block content%}

    <div class="container">
       <div class="row">
          <div class="title text-center">
             <h1>Projects</h1>
          </div>
       </div>
       <div class="row">
          <div class="service-content">
             <div class="box">
                <div class="icon"><i class="fa fa-laptop"></i></div>
                <h5>FormFlowAutomate</h5>
                <p>
                   A web automation testing project using Robot Framework, specializing in automated form submissions. 
                   Ensured seamless navigation through dynamic web forms, enhancing efficiency and reliability of web application testing.
                </p>
             </div>
             <div class="box">
                <div class="icon"><i class="fa fa-code"></i></div>
                <h5>QuickChat</h5>
                <p>
                   Developed a real-time chat application using Django, Python, HTML, CSS, and JavaScript. 
                   Features include a secure and user-friendly chat interface, user authentication, and deployment.
                </p>
             </div>
             <div class="box">
                <div class="icon"><i class="fas fa-palette"></i></div>
                <h5>eCommerce</h5>
                <p>
                   Designed and developed an eCommerce platform using Python and Django, from single landing pages to full-featured online stores.
                </p>
             </div>
             <div class="box">
                <div class="icon"><i class="fas fa-wallet"></i></div>
                <h5>HDFC Desktop Support Solutions</h5>
                <p>
                   Provided technical support to HDFC clients, assisting employees with desktop-related issues.
                   Troubleshot software and hardware problems while ensuring compliance with HDFC's IT policies.
                </p>
             </div>
             <div class="box">
                <div class="icon"><i class="fa fa-mobile"></i></div>
                <h5>Social Media Analytics Tool</h5>
                <p>
                   Developed a tool to analyze social media data, track engagement metrics, and generate reports. 
                   Utilized PostgreSQL to handle large datasets and complex queries efficiently.
                </p>
             </div>
             <div class="box">
                <div class="icon"><i class="fa fa-rocket"></i></div>
                <h5>Real-Time IoT Data Processing</h5>
                <p>
                   Built a real-time IoT data processing pipeline using Azure IoT Hub to ingest data from IoT devices. 
                   Integrated Azure Stream Analytics for real-time processing and Azure Cosmos DB/Data Lake Storage for scalable storage. 
                   Implemented real-time dashboards using Power BI for insightful analytics.
                </p>
             </div>
          </div>
       </div>
    </div>

{%endblock content%}
